{% extends "base.html" %}

{% block title %}
Products 
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        
        {% if messages %}
             {% for message in messages %}
                 <div class="text-center alert alert-{{ message.tags }}">
                     {{ message|safe }}
                 </div>
             {% endfor %}
        {% endif %}

        <div class="mx-auto col-xs-12">
            <h2 class="mt-3">Products</h2>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    <ul class="list-group list-group-flush">
                        {% for product in products %}
                            <li class="list-group-item">
                                <p>{{ product }}
                                    <button type="button" style="float: right;" class="btn btn-outline-secondary" onclick=location.href='{{ product.get_absolute_url }}'>Details</button>
                                </p>
                            </li>  
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <button type="button" class="mt-3 btn btn-outline-success col-md-6 mx-auto row justify-content-center" onclick=location.href='{% url "products:create-product" %}'>Add product</button>
        </div>

    </div>
</div>
{% endblock content %}

