{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  batch info
{% endblock title %}

{% block content %}
  
  <!-- messages -->
  {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col">

        <h2 class="mt-3 mb-5 text-center">Batch Information</h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">attribute</th>
              <th scope="col">value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Product Name</td>
              <td>{{ batch.product }}</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Batch Number</td>
              <td>{{ batch.batch_number }}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Batch size</td>
              <td>{{ batch.batch_size }}</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Unit size</td>
              <td>{{ batch.product.unit_size }}</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Label Claim</td>
              <td>{{ batch.product.label_claim }}</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Pack size</td>
              <td>{{ batch.pack_size}}</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Commencement Date</td>
              <td>{{ batch.production_commencement }}</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Completion Date</td>
              <td>{{ batch.production_completion }}</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Manufacturing Date</td>
              <td>{{ batch.manufacturing_date }}</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Expiry Date</td>
              <td>{{ batch.expiry_date }}</td>
            </tr>
          </tbody>
        </table>

        <button onclick=location.href="{% url 'batches:batch-update' pk=product.pk pk2=batch.pk %}" class="mt-3 mb-2 btn btn-outline-success">Edit</button>

          <a class="mt-2 btn btn-outline-success" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          Pages
        </a>

      </div>
    </div>
  </div>

  {% include "batch/sidebar.html" %}

  {% endblock %}