<div class="modal fade" id="modal-equipments">
  <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-controls">
  <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-clean">
  <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-packaging-bill">
  <div class="modal-dialog">
    <div class="modal-content"></div>
    </div>
</div>