{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Create
{% endblock title %}

{% block content %}

    <div id="qc-messages"></div>

    <div class="container">
        <div class="row">
            <div class="col">
            <h3>Create an analysis</h3>
            <form action="" method="POST" class="mt-5">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="mt-3 btn btn-primary">Save</button>
            </form>
            <button class="mt-3 mb-3 col-md-6 btn btn-outline-success" id="auto-qc" target="{% url 'batches:qc-autofill' pk=product.pk pk2=batch.pk %}">Autofill</button>
            </div>
        </div>
    </div>

    <script src="{% static 'bmr/js/autofill.js' %}" type="text/javascript"></script>

{% endblock content %}