{% extends "base.html" %}

{% block title %}
Confirm delete
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ packaging_material.item.material }}?</p>
        <input type="submit" value="Confirm">
    </form>
    <button class="mb-3 col-md-12 mx-auto btn btn-primary" onclick=location.href="{% url 'batches:recon-pack-delete' pk=product.pk pk2=batch.pk pk3=packaging_material.pk %}">Delete</button>
    <a href="{{ request.META.HTTP_REFERER }}" class=" mt-3 btn btn-primary" class>Back</a>
{% endblock content %}