{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Update {{ object.step }}
{% endblock title %}

{% block content %}
    <div class='mx-auto col-md-6'>
        <h2 class="mt-3">Update {{ object.step }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="mt-3 mb-3 btn btn-outline-info col-md-12 mx-auto">Save</button>
        </form>
        <button type="submit" class="mb-2 btn btn-outline-danger col-md-12 mx-auto"
        onclick=location.href='{% url "products:process-delete" pk=product.pk pk2=object.pk %}'>Delete</button>

        <a href="{{ request.META.HTTP_REFERER }}" class="mt-1 col-md-12 mx-auto btn btn-primary" class>
        Back</a>

    </div>
{% endblock content %}